/* Home.css */
.home-container {
    text-align: center;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1508736793122-f516e3ba5569?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .home-buttons {
    margin-top: 20px;
  }
  
  .quote-container {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
  }
  